.wrapper{
	padding: 15px 20px;
	border: 1px dashed green;
	display: flex;
}
.left, .right{
	height: 500px;
}
.left{
	/*width: 30%;*/
	width: 240px;
	border: 1px solid red;
}
.right{
	flex: 1 1 auto;
	border: 1px solid blue;
}